div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header h1 {
    font-size: 29px;
    padding: 10px;
}
.container {
    width: 422px;
    margin: 0 auto;
    text-align: center;
}
.gameboard {
    overflow: hidden;
    border: 1px solid black;
}
.gameboard div {
    width: 130px;
    height: 130px;
    float: left;
    font-size: 80px;
    line-height: 130px;
}
.r-border {
    border-right: 1px solid black;
}
.b-border {
    border-bottom: 1px solid black;
}
.won-square {
    background-color: lightgreen;
}
.play-again {
    display: none;
}
div.button {
    padding: 10px;
}
div.square-hover:hover {
    background-color: yellow;
}
